## Imports

In [194]:
import requests
import pandas as pd
import numpy as np 
import import_ipynb
import functions as f

## Extract

In [205]:
df_countries = pd.read_csv('https://raw.githubusercontent.com/lukes/ISO-3166-Countries-with-Regional-Codes/master/all/all.csv', usecols=['alpha-2', 'alpha-3', 'name'])
df_countries_detailed = pd.read_csv('./Raw/countries_detailed.csv', index_col=[0])

## Transform

In [207]:
# rename columns

df_countries.columns = f.fixColumnNames(df_countries)

In [208]:
# join both dataframes to bring df_countries's 'alpha-2' column in df_countries_detailed

df_merged = pd.merge(df_countries_detailed, df_countries[['Alpha2', 'Alpha3']], left_on='IsoCode', right_on='Alpha3').drop(columns=['Alpha3'])

In [209]:
# check for missing values in 'Alpha2'

df_merged.loc[df_merged['Alpha2'].isna()]

,Continent,Location,IsoCode,Population,PopulationDensity,MedianAge,GdpPerCapita,HumanDevelopmentIndex,LifeExpectancy,Aged65Older,Aged70Older,Alpha2
137,Africa,Namibia,NAM,2587344.0,3.078,22.0,9541.808,0.646,63.71,3.552,2.085,NaN

In [210]:
# set 'Namibia' short code to 'NA' in 'Alpha2'

df_merged.loc[df_merged['Alpha2'].isna() == True, 'Alpha2'] = 'NA'

In [211]:
# reorder columns

f.reindexCols(df_merged, [0, 1, 3, 2, 12, 4, 5, 6, 7, 8, 9, 10, 11])

AttributeError: module 'functions' has no attribute 'reindexCols'

## Load

In [213]:
# save as parquet to preserve data types

df_merged.to_parquet('./Processed/COUNTRIES_DETAILED.parquet', index=False)